<!--
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客</title>
	&lt;!&ndash; viewport meta &ndash;&gt;
	<meta name="viewport" content="width=device-width, initial-scale=1">

	&lt;!&ndash; helpers &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
	&lt;!&ndash; fontawesome css &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.min.css">
	&lt;!&ndash; strock gap icons &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/Stroke-Gap-Icons-Webfont/style.css">
	&lt;!&ndash; revolution slider css &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="../static/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="../static/plugins/revolution/css/navigation.css">
	&lt;!&ndash; flaticon css &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/flaticon/flaticon.css">
	&lt;!&ndash; jQuery ui css &ndash;&gt;
	<link href="../static/plugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
	&lt;!&ndash; owl carousel css &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/owl.carousel-2/assets/owl.carousel.css">
	<link rel="stylesheet" href="../static/plugins/owl.carousel-2/assets/owl.theme.default.min.css">
	&lt;!&ndash; animate css &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/animate.min.css">
	&lt;!&ndash; fancybox &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/fancyapps-fancyBox/source/jquery.fancybox.css">
	&lt;!&ndash; bxslider &ndash;&gt;
	<link rel="stylesheet" href="../static/plugins/bx-slider/jquery.bxslider.css">

	<link href="../static/plugins/plupload-2.1.8/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">

	&lt;!&ndash; master stylesheet &ndash;&gt;
	<link rel="stylesheet" href="../static/css/style.css">
	&lt;!&ndash; responsive stylesheet &ndash;&gt;
	<link rel="stylesheet" href="../static/css/responsive.css">



</head>
<body>

<header id="header" class="stricky">
	<div class="thm-container clearfix">
		<div class="logo">
			<a href="/user/main">
				<img src="../static/images/mainlogo.png" alt="">
			</a>
		</div>
		<div class="nav-holder pull-right">
			<div class="nav-header">
				<button><i class="fa fa-bars"></i></button>
			</div>
			<div class="nav-footer">
				<ul class="nav">
					<li><a href="/user/main"><i class="flaticon-food"></i>主页</a></li>
					<li class="has-submenu"><a href="/user/recipe"><i class="flaticon-food-2"></i>分类</a></li>
					<li><a href="/user/browse-recipes"><i class="flaticon-food-4"></i>推荐食谱</a></li>
					<li class="has-submenu"><a href="/user/blog-details"><i class="flaticon-food-3"></i>社区话题</a></li>
					<li class="has-submenu"><a href="/user/login"><i class="flaticon-tool"></i>登录</a></li>
					<li><a href="/user/register"><i class="flaticon-food-1"></i>注册</a></li>
					<li><a href="/user/selectuser?uid=1"><i class="flaticon-food"></i>个人中心</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<section class="inner-banner">
	<div class="thm-container">
		<div class="box clearfix">
			<h2 class="pull-left">博客</h2>
			<ul class="breadcumb pull-right">
				<li><a href="/user/main"><i class="fa fa-home"></i> 主页</a></li>
				<li><span>博客</span></li>
			</ul>
		</div>
	</div>
</section>


<section class=" blog-page top-rated-recipe has-side-background-wrapper browse-recipe">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-8 pull-left has-side-background">	
				<div class="single-post-wrapper">
					<article class="single-blog-post img-cap-effect">
						<div class="img-box">
							<img src="https://cyj0117.oss-cn-beijing.aliyuncs.com/3" alt="Awesome Image"/>
						</div>

						<p>简介:真香!</p>
						<a href="/user/blog-details" class="thm-btn">阅读更多</a>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>






<section class="bottom-bar text-center">
	<div class="thm-container clearfix">
		<p>Copyright &copy; Recipex 2016. All rights reserved. <span>Created by DesignArc</span></p>
	</div>
</section>


&lt;!&ndash; JS &ndash;&gt;
&lt;!&ndash; jQuery js &ndash;&gt;
<script src="../static/plugins/jquery/jquery-1.11.3.min.js"></script>
&lt;!&ndash; bootstrap js &ndash;&gt;
<script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
&lt;!&ndash; jQuery ui js &ndash;&gt;
<script src="../static/plugins/jquery-ui-1.11.4/jquery-ui.js"></script>
&lt;!&ndash; owl carousel js &ndash;&gt;
<script src="../static/plugins/owl.carousel-2/owl.carousel.min.js"></script>
&lt;!&ndash; jQuery appear &ndash;&gt;
<script src="../static/plugins/jquery-appear/jquery.appear.js"></script>
&lt;!&ndash; jQuery countTo &ndash;&gt;
<script src="../static/plugins/jquery-countTo/jquery.countTo.js"></script>
&lt;!&ndash; jQuery validation &ndash;&gt;
<script src="../static/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
&lt;!&ndash; gmap.js helper &ndash;&gt;
&lt;!&ndash;<script src="http://maps.google.com/maps/api/js"></script>&ndash;&gt;
&lt;!&ndash; gmap.js &ndash;&gt;
&lt;!&ndash;<script src="plugins/gmap.js"></script>&ndash;&gt;
&lt;!&ndash; mixit up &ndash;&gt;
<script src="../static/plugins/jquery.mixitup.min.js"></script>
&lt;!&ndash; bxslider js &ndash;&gt;
<script src="../static/plugins/bx-slider/jquery.bxslider.min.js"></script>

&lt;!&ndash; revolution slider js &ndash;&gt;
<script src="../static/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

&lt;!&ndash; fancy box &ndash;&gt;
<script src="../static/plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
&lt;!&ndash; type script &ndash;&gt;
<script src="../static/plugins/typed.js-master/dist/typed.min.js"></script>





<script src="../static/plugins/plupload-2.1.8/js/plupload.full.min.js"></script>
<script src="../static/plugins/plupload-2.1.8/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>


&lt;!&ndash; theme custom js  &ndash;&gt;
<script src="../static/js/main.js"></script>

</body>
</html>-->
