<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>主页</title>
	<!-- viewport meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- helpers -->
	<link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
	<!-- fontawesome css -->
	<link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.min.css">
	<!-- strock gap icons -->
	<link rel="stylesheet" href="../static/plugins/Stroke-Gap-Icons-Webfont/style.css">
	<!-- revolution slider css -->
	<link rel="stylesheet" href="../static/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="../static/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="../static/plugins/revolution/css/navigation.css">
	<!-- flaticon css -->
	<link rel="stylesheet" href="../static/plugins/flaticon/flaticon.css">
	<!-- jQuery ui css -->
	<link href="../static/plugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
	<!-- owl carousel css -->
	<link rel="stylesheet" href="../static/plugins/owl.carousel-2/assets/owl.carousel.css">
	<link rel="stylesheet" href="../static/plugins/owl.carousel-2/assets/owl.theme.default.min.css">
	<!-- animate css -->
	<link rel="stylesheet" href="../static/plugins/animate.min.css">
	<!-- fancybox -->
	<link rel="stylesheet" href="../static/plugins/fancyapps-fancyBox/source/jquery.fancybox.css">
	<!-- bxslider -->
	<link rel="stylesheet" href="../static/plugins/bx-slider/jquery.bxslider.css">

	<link href="../static/plugins/plupload-2.1.8/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">

	<!-- master stylesheet -->
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- responsive stylesheet -->
	<link rel="stylesheet" href="../static/css/responsive.css">
	<link rel="stylesheet" href="../static/css/style_01.css" />



</head>
<body>



<header id="header" class="stricky">
	<div class="thm-container clearfix">
		<div class="logo">
			<a href="/user/main">
				<img src="../static/images/mainlogo.png" alt="">
			</a>
		</div>
		<div class="nav-holder pull-right">
			<div class="nav-header">
				<button><i class="fa fa-bars"></i></button>
			</div>
			<div class="nav-footer">
				<ul class="nav">
					<li><a href="/user/main"><i class="flaticon-food"></i>主页</a></li>
					<li class="has-submenu"><a href="/user/recipe"><i class="flaticon-food-2"></i>分类</a></li>
					<li><a href="/user/browse-recipes"><i class="flaticon-food-4"></i>推荐食谱</a></li>
					<li class="has-submenu"><a href="/user/blog-right"><i class="flaticon-food-3"></i>博客</a></li>
					<li class="has-submenu"><a href="/user/login"><i class="flaticon-tool"></i>登录</a></li>
					<li><a href="/user/register"><i class="flaticon-food-1"></i>注册</a></li>
					<li><a href="/user/user-account"><i class="flaticon-food"></i>个人中心</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>


<section class="rev_slider_wrapper thm-banner-wrapper">
	<div class="c-banner">
	<div class="banner">
		<ul>
			<li><img src="../static/images/recent-recipes/13-1.jpg"></li>
			<li><img src="../static/images/recent-recipes/1-1.jpg"></li>
			<li><img src="../static/images/recent-recipes/2-1.jpg"></li>
		</ul>
	</div>
	<div class="nexImg">
		<img id="next" src="../static/img/nexImg.png" />
	</div>
	<div class="preImg">
		<img id="before" src="../static/img/preImg.png" />
	</div>
	<div class="jumpBtn">
		<ul>
			<li jumpImg="0"></li>
			<li jumpImg="1"></li>
			<li jumpImg="2"></li>
		</ul>
	</div>
</div>
</div>
</section>
<section class="recent-recipes sec-padding">
	<div class="thm-container">
		<div class="sec-title">
			<h2>新秀菜谱</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="single-recent-recipes img-cap-effect">
					<div class="img-box">
						<img src="../static/images/recent-recipes/13-1.jpg" alt="">
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="/user/single-recipe?cid=1"><i class="icon icon-Goto"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-box">
						<h3><input type="text" disabled style="border: 0px" name="cname" th:value="${cookbooklist[0].cname}"></h3>
						<span>作者:</span><span><input type="text" disabled style="border: 0px" name="cname" th:value="${cookbooklist[0].user.uname}"></span>
						<div class="inner-meta clearfix">
							<div class="pull-left time">
								<i class="icon icon-Timer"></i>1小时之前
							</div>
							<div class="pull-right read-more">
								<a href="/user/single-recipe?cid=1">查看详情</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-recent-recipes img-cap-effect">
					<div class="img-box">
						<img src="../static/images/recent-recipes/1-1.jpg" alt="">
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="/user/single-recipe?cid=2"><i class="icon icon-Goto"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-box">
						<h3><input type="text" disabled style="border: 0px" name="cname" th:value="${cookbooklist[1].cname}"></h3>
						<span>作者:</span><span><input type="text" disabled style="border: 0px" name="cname" th:value="${cookbooklist[1].user.uname}"></span>
						<div class="inner-meta clearfix">
							<div class="pull-left time">
								<i class="icon icon-Timer"></i>1小时之前
							</div>
							<div class="pull-right read-more">
								<a href="/user/single-recipe?cid=2">查看详情</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-recent-recipes img-cap-effect">
					<div class="img-box">
						<img src="../static/images/recent-recipes/2-1.jpg" alt="">
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="/user/single-recipe?cid=3"><i class="icon icon-Goto"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-box">
						<h3><input type="text" disabled style="border: 0px" name="cname" th:value="${cookbooklist[2].cname}"></h3>
						<span>作者:</span><span><input type="text" disabled style="border: 0px" name="cname" th:value="${cookbooklist[2].user.uname}"></span>
						<div class="inner-meta clearfix">
							<div class="pull-left time">
								<i class="icon icon-Timer"></i>1小时之前
							</div>
							<div class="pull-right read-more">
								<a href="/user/single-recipe?cid=3">查看详情</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<section class="bottom-bar text-center">
	<div class="thm-container clearfix">
		<p>Copyright &copy; Recipex 2016. All rights reserved. <span>Created by DesignArc</span></p>
	</div>
</section>


<!-- JS -->
<!-- jQuery js -->
<script src="../static/plugins/jquery/jquery-1.11.3.min.js"></script>
<!-- bootstrap js -->
<script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- jQuery ui js -->
<script src="../static/plugins/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- owl carousel js -->
<script src="../static/plugins/owl.carousel-2/owl.carousel.min.js"></script>
<!-- jQuery appear -->
<script src="../static/plugins/jquery-appear/jquery.appear.js"></script>
<!-- jQuery countTo -->
<script src="../static/plugins/jquery-countTo/jquery.countTo.js"></script>
<!-- jQuery validation -->
<script src="../static/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<!-- gmap.js helper -->
<!--<script src="http://maps.google.com/maps/api/js"></script>-->
<!-- gmap.js -->
<!--<script src="plugins/gmap.js"></script>-->
<!-- mixit up -->
<script src="../static/plugins/jquery.mixitup.min.js"></script>
<!-- bxslider js -->
<script src="../static/plugins/bx-slider/jquery.bxslider.min.js"></script>

<!-- revolution slider js -->
<script src="../static/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../static/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- fancy box -->
<script src="../static/plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
<!-- type script -->
<script src="../static/plugins/typed.js-master/dist/typed.min.js"></script>





<script src="../static/plugins/plupload-2.1.8/js/plupload.full.min.js"></script>
<script src="../static/plugins/plupload-2.1.8/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>


<!-- theme custom js  -->
<script src="../static/js/main.js"></script>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript">
//定时器返回值
var time=null;
//记录当前位子
var nexImg = 0;
//用于获取轮播图图片个数
var imgLength = $(".c-banner .banner ul li").length;
//当时动态数据的时候使用,上面那个删除
// var imgLength =0;
//设置底部第一个按钮样式
$(".c-banner .jumpBtn ul li[jumpImg="+nexImg+"]").css("background-color","black");

//页面加载
$(document).ready(function(){
	// dynamicData();
	//启动定时器,设置时间为3秒一次
	time =setInterval(intervalImg,3000);
});

//点击上一张
$(".preImg").click(function(){
	//清楚定时器
	clearInterval(time);
	var nowImg = nexImg;
	nexImg = nexImg-1;
	console.log(nexImg);
	if(nexImg<0){
		nexImg=imgLength-1;
	}
	//底部按钮样式设置
	$(".c-banner .jumpBtn ul li").css("background-color","white");
	$(".c-banner .jumpBtn ul li[jumpImg="+nexImg+"]").css("background-color","black");
	
	//将当前图片试用绝对定位,下一张图片试用相对定位
	$(".c-banner .banner ul img").eq(nowImg).css("position","absolute");
	$(".c-banner .banner ul img").eq(nexImg).css("position","relative");
	
	//轮播淡入淡出
	$(".c-banner .banner ul li").eq(nexImg).css("display","block");
	$(".c-banner .banner ul li").eq(nexImg).stop().animate({"opacity":1},1000);
	$(".c-banner .banner ul li").eq(nowImg).stop().animate({"opacity":0},1000,function(){
		$(".c-banner ul li").eq(nowImg).css("display","none");
	});
	
	//启动定时器,设置时间为3秒一次
	time =setInterval(intervalImg,3000);
})

//点击下一张
$(".nexImg").click(function(){
	clearInterval(time);
	intervalImg();
	time =setInterval(intervalImg,3000);
})

//轮播图
function intervalImg(){
	if(nexImg<imgLength-1){
		nexImg++;
	}else{
		nexImg=0;
	}
	
	//将当前图片试用绝对定位,下一张图片试用相对定位
	$(".c-banner .banner ul img").eq(nexImg-1).css("position","absolute");
	$(".c-banner .banner ul img").eq(nexImg).css("position","relative");
	
	$(".c-banner .banner ul li").eq(nexImg).css("display","block");
	$(".c-banner .banner ul li").eq(nexImg).stop().animate({"opacity":1},1000);
	$(".c-banner .banner ul li").eq(nexImg-1).stop().animate({"opacity":0},1000,function(){
		$(".c-banner .banner ul li").eq(nexImg-1).css("display","none");
	});
	$(".c-banner .jumpBtn ul li").css("background-color","white");
	$(".c-banner .jumpBtn ul li[jumpImg="+nexImg+"]").css("background-color","black");
}

//轮播图底下按钮
//动态数据加载的试用应放在请求成功后执行该代码,否则按钮无法使用
$(".c-banner .jumpBtn ul li").each(function(){
	//为每个按钮定义点击事件
	$(this).click(function(){
		clearInterval(time);
		$(".c-banner .jumpBtn ul li").css("background-color","white");
		jumpImg = $(this).attr("jumpImg");
		if(jumpImg!=nexImg){
			var after =$(".c-banner .banner ul li").eq(jumpImg);
			var befor =$(".c-banner .banner ul li").eq(nexImg);
			
			//将当前图片试用绝对定位,下一张图片试用相对定位
			$(".c-banner .banner ul img").eq(nexImg).css("position","absolute");
			$(".c-banner .banner ul img").eq(jumpImg).css("position","relative");
			
			after.css("display","block");
			after.stop().animate({"opacity":1},1000);
			befor.stop().animate({"opacity":0},1000,function(){
				befor.css("display","none");
			});
			nexImg=jumpImg;
		}
		$(this).css("background-color","black");
		time =setInterval(intervalImg,3000);
	});
});


</script>

</body>
</html>